{% extends "base.html" %}
{% block content %}
<div class="box3">
<h2>404 Page Not Found</h2>
<p>
The CANNIBALS ate our page :(<br />
<i><a href="{% url home %}">Please head over to the homepage</a></i>
<pre>
                                       .-.
                              \\\V/// (o.o)
                              #######  |=|
                             //6 , 6\\  Y
                              \  =  /   |
                             .-:---:---'B
              (             /   `@` ,--'|
               )  )        ( <|'   '|   |
           ______(____      \ \__.__/   |
          (___________)      `/<<<<<\   |
           /         \       (>>>>>>>)  |
          /           \      `"|"|"|"`  |
         |             |       |_| |    |
     ____\             /____  _(_| |_   |
    ()____'.__     __.'____()(___|___)  |
    jgs  .'` .'```'. `-. 
        ().'`       `'.()
</pre>
</div>
{% endblock %}

