@import "conf.less";

html {
	body {
		background-color: @body-color;
		height: 0;
		font-family: @font-family;
		text-align: left;
		color: @font-color;
	}
}

@import "basics.less";
@import "tables.less";
@import "forms.less";

#header, #nav, #content, #footer {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.shadows {
	-moz-box-shadow: 0px 0px 3px @shadow-color;
	-webkit-box-shadow: 0px 0px 3px @shadow-color;
	box-shadow: 0px 0px 3px @shadow-color;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=@shadow-color)";
	/* For IE 5.5 - 7 */
	filter: e('progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=@shadow-color);');
}
.corners {
    -moz-border-radius: @corner-size;
    -webkit-border-radius: @corner-size;
    -khtml-border-radius: @corner-size;
    border-radius: @corner-size;
    behavior: url(/static/pie/PIE.htc);
}
.bg {
	background-color: @bg-color;
}
.borders {
	border: @border-size solid @border-color;
}
.clear {
	clear: both;
}
.mt {
	margin-top: 10px;
}
.mr {
	margin-right: 10px;
}
.ml {
	margin-left: 10px;
}
.ac {
	text-align: center;
}
.ar {
	text-align: right;
}
.al {
	text-align: right;
}

@import "boxes.less";