{% block doctype %}<!DOCTYPE html>{% endblock doctype %}
<html {% block html_attr %}{% endblock %}>
    <head>
        {% block head_base %}
        <title>{% block head_title_text %}Welcome{% endblock %}</title>
        {% block head %}{% endblock %}
        {% endblock head_base %}
    </head>
    <body {% block body_attr %}{% endblock %}>
	    {% block messages_base %}{% block messages %}{% endblock messages %}{% endblock messages_base %}
	    {% block header_base %}{% block header %}{% endblock header %}{% endblock header_base %}
	    {% block content_base %}{% block content %}{% endblock content %}{% endblock content_base %}
	    {% block footer_base %}{% block footer %}{% endblock footer %}{% endblock footer_base %}
	    {% block closure_base %}{% block closure %}{% endblock closure %}{% endblock closure_base %}
    </body>
</html>

